accelerate==1.6.0
datasets==4.0.0
hf-xet==1.1.9
huggingface-hub==0.34.4
instructorembedding==1.0.1
numpy==2.2.5
pandas==2.2.3
pyarrow==20.0.0
safetensors==0.5.3
scikit-learn==1.7.1
sentence-transformers==2.2.2
sentencepiece==0.2.0
tokenizers==0.21.1
torch==2.7.0
torchvision==0.22.0
transformers==4.51.3
triton==3.3.0
